.container {
  max-width: 400px;
  min-height: 400px;
  max-width: 400px;
  background-color: whitesmoke;
  background: transparent;
  margin: auto;
  box-shadow: 0 0 10px gray;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 20px ;
}
.background {
  background-color: #e74c3c;
  background-image: url("aaa.jpg");
  
}
.transaction-form input{
  border-radius: 10px;
  border-color: turquoise;
  
  height: 30px;
  width: 98%;
padding: 2px;
padding-left: 0px;

}
.text-center{
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 10px gray;
  text-decoration: transparent;
  font-style:oblique;
  
}
 
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px gray;
  
}
.label{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 3px;
  width: 100%;
}
.button{
cursor: pointer;
background-color: #34b7eb;
box-shadow: var(--box-shadow);
color: #fff;
border: 1;
border-style: inherit;
display: block;
font-size: 16px;
margin: 20px 0 30px;
padding: 10px;
width: 100%;
}
.transaction-list{
margin: 0;
padding:0;

background-color:white;
}
.transaction-list li{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px gray;
  padding : 10px 5px;
  margin: 5px 0;
}

.income-text{
  color: #2ecc71;
}
.expense-text{
  color: #c0392b;
}


.delete-btn:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #e74c3c;
}
.money.plus {
  color: #b6960a;
  font-weight: bold;
}

.money.minus {
  color: #2da3ad;
  font-weight: bold;
}
